* {
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 0px;
    float: left;
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For Tablet */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For Dekstop */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

div.container{
    margin: 0;  
    padding: 0;
}

div.header{
    margin: 0;
    width: 100%;
    position: sticky;
    background: rgb(0, 100, 33);
}

div.header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.header ul li a{
    float: right;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 17px 10px;
    text-align: center;
}

div.header ul li a:hover{
    border-top: 2px solid #fff;
}

div.header img{
    width: 75px;
    height: auto;
    margin: 0;
    float: left;
    padding-left: 20px;
}

div.head {
    width: 100%;
    height: 550px;
    float: left;
    background: url(Lapindo.jpg) no-repeat center;
    background-size: cover;
    margin-top: 0;
}

div.head .gelap{
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    background: #000;
    opacity: 0.4;
}

div.head .desc{
    position: absolute;
    left: 43%;
    top: 180px;
    text-align: center;
}

div.head .desc h2{
    color: #fff;
    text-transform: uppercase;
}

div.head .desc label{
    color: green;
}

div.head .desc span{
    color: rgb(255, 85, 85);
}

div.about{
    width: 100%;
    height: 250px;
}

div.about .left{
    width: 70%;
    height: 250px;
    float: left;
}

div.about .left h1{
    font-size: 50px;
    text-transform: uppercase;
    color: green;
    text-align: center;
}

div.about .left h2{
    font-size: 15px;
    text-align: right;
    border-top: 2px solid green;
    border-right: 2px solid green;
}

div.about .right{
    width: 25%;
    height: 250px;
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}

div.about .right img{
    width: 250px;
    height: auto;
    padding-left: 20px;
}

div.kuliner{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
}

div.kuliner h3{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    background: green;
}

div.kuliner .kupang{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 25px;
}

div.kuliner .kupang h1{
    text-transform: uppercase;
    color: green;
}

div.kuliner .kupang img{
    width: 125px;
    border-radius: 50%;
}

div.kuliner .kupang h2{
    color: grey;
    font-size: 20px;
    text-align: justify;
}

div.wisata{
    width: 100%;
    height: auto;
    float: left;
}

div.wisata h1{
    color: #fff;
    background: green;
}

div.wisata .subwisata .left{
    width: 25%;
    height: auto;
    float: left;
}

div.wisata .subwisata img{
    width: 200px;
    border: 3px solid green;
    border-radius: 20%;
}

div.wisata .subwisata .right{
    width: 75%;
    height: auto;
    float: left;
    color: green;
}

div.wisata .subwisata .right h3{
    font-size: 15px;
    color: grey;
}

div.wisata .subwisata span{
    width: 100%;
    height: 20px;
    background: green;
    float: left;
    margin-bottom: 10px;
}

div.budaya{
    width: 100%;
    height: auto;
    float: left;
}

div.budaya h1{
    color: white;
    background: green;
}

div.budaya .subbudaya .left{
    width: 80%;
    height: auto;
    float: left;
    border-bottom: 5px solid green;
}

div.budaya .subbudaya .left h2{
    font-size: 25px;
    text-transform: uppercase;
    color: green;
}

div.budaya .subbudaya .left h3{
    font-size: 15px;
    color: grey;
}

div.budaya .subbudaya .right{
    width: 20%;
    height: auto;
    float: left;
}

div.budaya .subbudaya .right img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
}

.footer{
    background: green;
    width: 100%;
    height: 20px;
    margin-top: 25px;
    color: #000000;
    float: left;
}